.about {
  background-color: $color-secondary;
}

.about__text-wrapper {
  padding: 40px 15px 36px;
}

.about__heading {
  margin-bottom: 12px;
}

.about__subheading {
  margin: 0 0 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.about__content-wrapper p {
  margin: 0;
}

.about__content-wrapper p + p {
  display: none;
}

.about__image-wrapper {
  margin-bottom: 29px;
}

.about__video {
  border: none;
}
