.advantages__wrapper {
  padding: 20px 15px 19px;
  width: 320px;
}

.advantages__title {
  margin: 0 auto 20px;
  width: 290px;
  text-align: center;
}

.advantages__slider-nav {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding: 40px 45px;
    width: 678px;
  }

  .advantages__title {
    margin: 0 auto 50px;
    width: 678px;
  }

  .advantages__list {
    width: 678px;
  }
}
