.features {
  padding: 40px 0;
}

.features__heading {
  padding: 0 15px;
  margin: 0 auto 40px;
  width: 320px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 60px 43px;
  }

  .features__heading {
    padding: 0;
    margin-bottom: 50px;
    width: 678px;
  }

  .features__list {
    width: 678px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 100px 103px;
  }

  .features__heading {
    width: 1160px;
  }

  .features__list {
    width: 1160px;
  }
}
