.footer {
  padding: 40px 15px 41px;
  background-color: #030a1a;
}

.footer__wrapper {
  width: 290px;
}

.footer__logo-wrapper {
  margin: 0 auto 23px;
}

.footer__menu {
  margin: 0 auto 28px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 45px 45px 42px;
  }

  .footer__wrapper {
    width: 678px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }

  .footer__logo-wrapper {
    margin: 0;
  }

  .footer__menu {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 41px 103px 33px;
  }

  .footer__wrapper {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 130px 602px 95px;
    gap: 35px 167px;
  }
}
