.footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;
  list-style: none;
}

.footer-nav__link {
  display: block;
  color: $color-text;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .footer-nav {
    justify-content: flex-end;
    gap: 15.5px;
  }

  .footer-nav__link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }
}
