.form {
  padding: 83px 0 80px;

  &--inverse {
    padding: 38px 15px 40px;
    background-color: $color-secondary;
    border-radius: 16px;
  }
}

.form__wrapper {
  position: relative;
  margin: 0 auto;
  width: 300px;
  padding: 15px 15px 27px;
  background-color: $color-primary;
  color: $color-background;
  border-radius: 16px;
}

.form__heading {
  margin: 0 0 9px;
  font-size: 18px;
  line-height: 22px;
  color: $color-secondary;

  &--inverse {
    margin-bottom: 11px;
    line-height: 18px;
    text-align: center;
    color: $color-primary;
  }
}

.form__text {
  margin: 0 0 21px;
  opacity: 0.9;

  &--inverse {
    margin-bottom: 25px;
    padding: 0 23px 0 22px;
    text-align: center;
    opacity: 1;
  }
}

.form__label {
  margin-bottom: 12px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.8;

  &--inverse {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 14px;
  }
}

.form__input {
  margin-bottom: 20px;
  padding: 15px 56px 14px 18px;
  width: 100%;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-background;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  appearance: none;

  &--inverse {
    margin-bottom: 14px;
    padding: 11px 56px 12px 20px;
    border-color: rgba(72, 72, 72, 0.3);
  }

  &--textarea {
    margin-bottom: 16px;
    height: 94px;
    resize: none;
  }

  &--select {
    padding: 18px 56px 18px 18px;
    width: 260px;
    background: url("../../../__spritemap#sprite-arrow-down-white-view") no-repeat calc(100% - 20px) center;
    background-size: 16px 16px;
    cursor: pointer;
  }

  &--select-inverse {
    margin-bottom: 15px;
    padding: 14px 56px 14px 20px;
    background: url("../../../__spritemap#sprite-arrow-down-view") no-repeat calc(100% - 19px) center;
    background-size: 16px 16px;
    cursor: pointer;
  }
}

.form__checkbox-label {
  position: relative;
  padding-left: 30px;
  display: block;
  min-height: 42px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.9);

  &::before {
    position: absolute;
    top: 10.5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $color-secondary;
    border-radius: 2px;
    content: "";
  }

  &--inverse {
    color: rgba(72, 72, 72, 0.9);
  }

  &--inverse::before {
    top: 4px;
    background-color: $color-primary;
  }
}

.form__checkbox-label > span {
  display: block;
}

.form__button {
  margin-top: 19.5px;
  width: 260px;

  &--modal {
    margin-top: 11px;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .form {
    padding: 50px 281px 50px 45px;

    &--inverse {
      padding: 56px 80px 60px;
    }
  }

  .form__wrapper {
    position: relative;
    padding: 30px 40px 36px 40px;
    width: 442px;
    border-radius: 16px;
  }

  .form__heading {
    margin-bottom: 18px;
    padding: 12px 0;
    font-size: 28px;
    line-height: 28px;

    &--inverse {
      margin-bottom: 16px;
      padding: 0;
    }
  }

  .form__text {
    margin-bottom: 40px;
    font-size: 16px;

    &--inverse {
      margin-bottom: 30px;
      padding: 0;
    }
  }

  .form__body {
    width: 362px;

    &--inverse {
      width: 100%;
    }
  }

  .form__label {
    font-size: 14px;
    line-height: 20px;

    &--inverse {
      margin-bottom: 12px;
    }
  }

  .form__input {

    &--textarea {
      margin-bottom: 15px;
      height: 88px;
    }

    &--select {
      margin-bottom: 19.5px;
      padding-top: 19px;
      width: 362px;
    }

    &--inverse {
      margin-bottom: 20px;
      padding-top: 14px;
      padding-bottom: 15px;
    }

    &--select-inverse {
      padding-top: 17px;
      padding-bottom: 17px;
      width: 100%;
    }
  }

  .form__checkbox-label {
    padding-top: 4.5px;
    line-height: 12px;

    &::before {
      top: 0;
    }
  }

  .form__checkbox-label > span {
    display: inline;
  }

  .form__button {
    margin-top: 18px;
    padding-right: 80px;
    width: 352px;

    &--modal {
      margin: 8px auto 0;
      padding-top: 18.5px;
      padding-bottom: 19.5px;
      max-width: 194px;
    }

    &--modal::before {
      top: 3px;
      right: 3px;
    }

    &--modal::after {
      top: 16px;
      right: 16px;
    }
  }
}
