.gallery-card__image-wrapper {

  &--bigger {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  &--smaller {
    grid-column: 2/-1;
  }
}

.gallery-card__image {
  height: 266px;
  object-fit: cover;

  &--top-half {
    height: 134px;
  }

  &--bottom-half {
    height: 124px;
  }
}

@media (min-width: $tablet-width) {
  .gallery-card__image {
    height: 418px;

    &--top-half {
      height: 209px;
    }

    &--bottom-half {
      height: 202px;
    }
  }
}
