.header {
  background-color: $color-secondary;
}

.header__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 15px 15px 18px;
  width: 320px;
}

.header__logo {
  display: block;
  padding-left: 148px;
  margin-bottom: 11px;
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  background-color: rgba(45, 56, 63, 0.6);
  z-index: 5;
}

.header__phone {
  display: block;
  margin-left: auto;
  width: 142px;
  line-height: 14px;
  font-weight: 600;
  color: $color-primary;
  text-decoration: none;
  text-align: right;
}
