.hero__slider-wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .hero__slider-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .hero__slider-wrapper {
    width: 1440px;
  }
}
