.hero {
  background: linear-gradient(142.94deg, rgba(15, 20, 41, 0.33) 13.97%,rgba(15, 20, 41, 0) 97.953%);
}

.hero__slider-wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
}
