.hero-slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-slider__item {
  position: relative;
  width: 320px;
  flex-shrink: 0;

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.hero-slider__image {
  min-height: 568px;
  width: auto;
  object-fit: cover;
}

.hero-slider__content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 47px 15px 63px;
  height: 100%;
  color: $color-primary;
  text-align: center;
}

.hero-slider__text-wrapper {
  margin: auto auto 0;
}

.hero-slider__text-wrapper > h3 {
  margin: auto auto 15px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
}

.hero-slider__text-wrapper > p {
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
}

.hero-slider__button {
  width: 180px;
  margin: 60px auto auto;
}

.hero-slider__details {
  display: none;
}

.hero-slider__pagination {
  position: absolute;
  bottom: 40px;
  left: 0;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .hero-slider__item {
    width: 768px;
  }

  .hero-slider__image {
    min-height: 1034px;
  }

  .hero-slider__content-wrapper {
    padding: 40px 40px 100px;
  }

  .hero-slider__text-wrapper > h3 {
    margin-bottom: 13px;
    font-size: 56px;
    line-height: 56px;
  }

  .hero-slider__text-wrapper > p {
    padding: 0 80px;
    font-size: 17px;
    line-height: 24px;
  }

  .hero-slider__button {
    margin: 37px auto auto;
    padding: 19px 20px;
  }
}

@media (min-width: $desktop-width) {
  .hero-slider__item {
    width: 1440px;
  }

  .hero-slider__image {
    min-height: 800px;
  }

  .hero-slider__content-wrapper {
    padding: 40px 376px 80px 120px;
    text-align: left;
  }

  .hero-slider__text-wrapper > h3 {
    margin-bottom: 24px;
    font-size: 77px;
    line-height: 77px;
  }

  .hero-slider__text-wrapper > p {
    padding: 0;
    width: 464px;
    margin: 0;
  }

  .hero-slider__button {
    margin: 36px 0 0;
  }

  .hero-slider__details {
    margin-top: 134px;
    display: flex;
  }

  .hero-slider__pagination {
    left: auto;
    right: 120px;
    bottom: 92px;
    padding: 0;
    width: 230px;
    justify-content: flex-end;
  }
}
