.main {
  flex-grow: 1;
}

.main__hero {
  width: 100%;
  min-height: 568px;
}

.main__about-us {
  margin: 0 auto;
  width: $mobile-width;
}

.main__programs {
  margin: 0 auto;
  width: $mobile-width;
}

.main__news {
  margin: 0 auto;
  width: $mobile-width;
}
