.nav-submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-submenu__item {
  padding: 4px 16px;

  // padding: 0 16px;

  // &:not(:last-of-type) {
  //   margin-bottom: 8px;
  // }
}

.nav-submenu__link {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.8);
  }

  &--current,
  &:active {
    color: rgba(255, 255, 255, 0.9);
  }
}
