.news {
  position: relative;
  padding: 50px 15px;
}

.news__title {
  margin-bottom: 24px;
  text-align: center;
}

.news__tabs {
  margin-bottom: 24px;
  min-width: 305px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.news__nav-wrapper {
  position: absolute;
  bottom: 16px;
  left: 15px;
  margin: 0 auto;
  width: 290px;
  min-height: 26px;
}

.news__slider-wrapper {
  max-height: 650px;
  overflow: hidden;
}

.news__slider-list {
  max-height: 610px;
}

.news__slider-nav {
  margin-top: 2px;
  margin-right: 1px;
  justify-content: space-between;
}

.news__slider-arrow {
  margin-top: 2px;

  &--prev {
    margin-right: 1px;
  }

  &--next {
    margin-right: 1px;
  }
}

@media (min-width: $tablet-width) {
  .news {
    padding: 50px 45px;
  }

  .news__title {
    margin-bottom: 30px;
  }

  .news__tabs {
    margin-left: 1.5px;
    margin-bottom: 30px;
  }

  .news__slider-wrapper {
    max-height: 100%;
  }

  .news__slider-list {
    max-height: 100%;
  }

  .news__slider-nav {
    margin-top: 30px;
  }

  .news__slider-arrow {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding: 60px 100px;
  }

  .news__title {
    margin-bottom: 40px;
  }

  .news__tabs {
    margin: 0 auto 40px;
    width: 720px;
  }

  .news__slider-wrapper {
    width: 1240px;
  }

  .news__slider-nav {
    margin-top: 40px;
  }
}
