.news-tabs {
  display: flex;
  gap: 9px;
}

.news-tabs__button {
  padding: 10px 14px 10px 14.5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-primary;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  opacity: 0.6;
  cursor: pointer;
  appearance: none;

  &--active {
    border-color: $color-primary;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .news-tabs {
    gap: 7px;
  }

  .news-tabs__button {
    padding: 14px 19px 14px 20.5px;
    font-size: 14px;
    line-height: 14px;

    &--active {
      padding-right: 20px;
      padding-left: 20.5px;
    }
  }
}
