.offers-card {
  padding: 20px;
  text-align: center;
  color: #1c3374;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(143deg, #d10a42, #00359f);
  border-image-slice: 1;

  &--main {
    padding: 30px 40px 390px;
    background-color: #ed0233;
    background-image: url("../../img/photos/offers-image-mobile@1x.jpg");
    background-image: image-set(
      url("../../img/photos/offers-image-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/photos/offers-image-mobile@1x.jpg") type("image/jpeg") 1x);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 320px 360px;
    color: $color-secondary;
    border: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/photos/offers-image-mobile@2x.jpg");
      background-image: image-set(
        url("../../img/photos/offers-image-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/photos/offers-image-mobile@2x.jpg") type("image/jpeg") 2x);
      // background-repeat: no-repeat;
      // background-position: bottom center;
      // background-size: 320px 360px;
    }
  }
}

.offers-card h3 {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 700;
}

.offers-card p {
  margin: 0 0 15px;
}

.offers-card--main h3 {
  margin: 0 0 28px;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.offers-card--main h3 > span {
  font-size: 22px;
  font-weight: 700;
}

.offers-card--main h3 > b {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
}

.offers-card--main p {
  margin: 0 0 23px;
  font-size: 16px;
  line-height: 20px;
}

.offers-card__button {
  display: inline-block;
  padding: 5px 0;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &--secondary {
    color: #1c3374;
    border-bottom: 1px solid #74819c;
  }

  &--primary {
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
  }
}

@media (min-width: $tablet-width) {
  .offers-card {
    padding: 21px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    &--main {
      padding: 40px 425px 40px 25px;
      min-height: 462px;
      background-image: url("../../img/photos/offers-image-tablet@1x.jpg");
      background-image: image-set(
        url("../../img/photos/offers-image-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/photos/offers-image-tablet@1x.jpg") type("image/jpeg") 1x);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 400px 462px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photos/offers-image-tablet@2x.jpg");
        background-image: image-set(
          url("../../img/photos/offers-image-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/photos/offers-image-tablet@2x.jpg") type("image/jpeg") 2x);
      }
    }
  }

  .offers-card h3 {
    margin: 0 0 9px;
    font-size: 26px;
    line-height: 26px;
  }

  .offers-card p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .offers-card--main h3 {
    margin: 0 0 40px;
    padding: 0;
    gap: 20px;
  }

  .offers-card--main h3 > span {
    font-size: 24px;
    line-height: 24px;
  }

  .offers-card--main h3 > b {
    font-size: 70px;
    line-height: 70px;
  }

  .offers-card--main p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .offers-card__button {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .offers-card {
    padding: 20px;
    min-height: 174px;

    &--main {
      padding: 40px 325px 40px 45px;
      min-height: 460px;
      background-image: url("../../img/photos/offers-image-desktop@1x.jpg");
      background-image: image-set(
        url("../../img/photos/offers-image-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/photos/offers-image-desktop@1x.jpg") type("image/jpeg") 1x);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 280px 460px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photos/offers-image-desktop@2x.jpg");
        background-image: image-set(
          url("../../img/photos/offers-image-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/photos/offers-image-desktop@2x.jpg") type("image/jpeg") 2x);
      }
    }
  }

  .offers-card--main h3 > span {
    font-size: 26px;
    line-height: 26px;
  }
}
