.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-list__card {
  width: 290px;
  margin: 0 auto 30px;

  &--main {
    width: 320px;
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .offers-list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 35px 30px;
    align-items: flex-start;
  }

  .offers-list__card {
    width: 324px;
    min-height: 188px;
    margin-bottom: 0;

    &--main {
      width: 678px;
      grid-column: 1/-1;
    }
  }
}
