.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-list__card {
  width: 290px;
  margin: 0 auto 30px;

  &--main {
    width: 320px;
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
