.page-body {
  position: relative;

  &--nav-shown::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-dark;
    content: "";
  }
}
