.prices {
  padding: 41px 15px;
}

.prices__heading {
  margin: 0 auto 29px;
  width: 290px;
  text-align: center;
}

.prices__tabs {
  display: flex;
  gap: 0 45px;
  width: 290px;
  margin: 0 auto 30px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
}

.price-tabs__button {
  position: relative;
  display: inline-block;
  padding: 0 0 17px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-color: transparent;
  color: $color-text;
  border: none;
  opacity: 0.5;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #d10a42;
    content: "";
    display: none;
  }

  &--active {
    opacity: 1;

    &::before {
      display: block;
    }
  }
}

.prices__options-wrapper {
  width: 290px;
  margin: 0 auto;
}

.prices__options-group {
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .prices {
    padding: 61px 194px;
    overflow: hidden;
  }

  .prices__heading {
    margin-bottom: 36px;
    width: 310px;
  }

  .prices__tabs {
    margin-bottom: 45px;
    width: 310px;
    gap: 0 44px;
    border-bottom-width: 2px;
  }

  .price-tabs__button {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 6px;

    &::before {
      bottom: -2px;
      border-bottom-width: 2px;
    }
  }

  .prices__options-wrapper {
    position: relative;
    width: 380px;

    &::before {
      position: absolute;
      bottom: -50px;
      right: -208px;
      width: 275px;
      height: 336px;
      background-image: url("../../img/photos/prices-image-tablet@1x.png");
      background-image: image-set(
        url("../../img/photos/prices-image-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/photos/prices-image-tablet@1x.jpg") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      z-index: -5;
      transform: rotate(330deg);
      content: "";

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photos/prices-image-tablet@2x.jpg");
        background-image: image-set(
          url("../../img/photos/prices-image-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/photos/prices-image-tablet@2x.jpg") type("image/png") 2x);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .prices {
    padding: 100px 103px;
  }

  .prices__heading {
    margin-bottom: 21px;
    width: 1160px;
  }

  .prices__tabs {
    margin-bottom: 40px;
    width: 350px;
    gap: 0 51px;
  }

  .price-tabs__button {
    padding-bottom: 7px;
    font-size: 20px;
    line-height: 20px;
  }

  .prices__options-wrapper {
    width: 1160px;

    &::before {
      bottom: -90px;
      right: -195px;
      width: 321px;
      height: 384px;
      background-image: url("../../img/photos/prices-image-desktop@1x.png");
      background-image: image-set(
        url("../../img/photos/prices-image-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/photos/prices-image-desktop@1x.jpg") type("image/png") 1x);

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photos/prices-image-desktop@2x.jpg");
        background-image: image-set(
          url("../../img/photos/prices-image-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/photos/prices-image-desktop@2x.jpg") type("image/png") 2x);
      }
    }
  }
}
