.reviews {
  position: relative;
  padding: 42px 15px 40px;
  background-color: $color-secondary;
}

.reviews__heading {
  margin: 0 auto 38px;
  width: 290px;
  text-align: center;
}

.reviews__list {
  margin: 0 auto;
  width: 240px;
  text-align: center;
}

.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 60px 45px;
  }

  .reviews__heading {
    width: 678px;
    margin-bottom: 34px;
  }

  .reviews__wrapper {
    position: relative;
    width: 678px;
    margin: 0 auto;
  }

  .reviews__button {
    position: absolute;
    top: 91px;
    left: -21px;
    display: block;

    &--next {
      top: 95px;
      left: auto;
      right: -20px;
    }

    &--inactive {
      opacity: 0.3;
    }
  }

  .reviews__list {
    width: 500px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 100px 103px 101px;
  }

  .reviews__heading {
    width: 1160px;
    margin-bottom: 74px;
  }

  .reviews__wrapper {
    width: 1160px;
  }

  .reviews__button {
    top: 99px;
    left: 224px;

    &--next {
      top: 103px;
      left: auto;
      right: 224px;
    }
  }

  .reviews__list {
    width: 560px;
  }
}
