.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews-list__item {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reviews-list__item {
    width: 580px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-list {
    padding: 0;
  }

  .reviews-list__item {
    width: 640px;
  }
}
