.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(28, 51, 116, 0.2);
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
}

.reviews-list__item {
  width: 240px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reviews-list__item {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .reviews-list {
    padding: 0;
  }

  .reviews-list__item {
    width: 560px;
  }
}
