.reviews__wrapper {
  margin: 0 auto;
  padding: 20px 0 0;
  width: 320px;
}

.reviews__title {
  padding-left: 15px;
  padding-right: 15px;
}

.reviews__slider-nav {
  display: none;
}

.reviews__list-wrapper {
  width: 320px;
  overflow: hidden;
}
