.slider {
  background-color: $color-secondary;
}

.slider__wrapper {
  position: relative;
  padding: 40px 15px;
  margin: 0 auto;
  width: 320px;
}

.slider__heading {
  margin-bottom: 20px;
  text-align: center;
}
