.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list__item {
  max-width: 227px;
}

@media (min-width: $tablet-width) {
  .slider-list__item {
    max-width: 260px;
    flex-shrink: 0;
  }
}
