.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.social-list__item {
  width: 25px;
  height: 25px;
  background-color: $color-secondary;
  border-radius: 50%;
}

.social-list__link {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .social-list {
    gap: 15px;
  }
}

