.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.socials-list__item {
  width: 32px;
  height: 30px;
}

.socials-list__link {
  width: 100%;
  height: 100%;
}

@media (min-width: $desktop-width) {
  .socials-list {
    gap: 15px;
  }

  .socials-list__item {
    width: 30px;
  }
}
