$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$color-background: #f0efe9;
$color-primary: #316dc2;
$color-secondary: #ffffff;
$color-text: #484848;
$overlay-dark: rgba(13, 29, 51, 0.4);
$overlay-blue: rgba(49, 109, 194, 0.2);
$button-inactive: #a9afb7;
