.button {
  position: relative;
  padding: 16px 59px 14px 20px;
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  appearance: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: calc(50% - 17px);
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $color-primary;
    border-radius: 44px;
    content: "";
  }

  &::after {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 20px;
    height: 20px;
    background-color: $color-secondary;
    mask: url("../../__spritemap#sprite-button-arrow-view");
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
    mask-position: center;
    transform: rotate(-45deg);
    content: "";
  }

  &--small {
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: $color-primary;
    border-color: transparent;

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      top: 4px;
      left: 4px;
    }
  }

  &--inverse {
    color: $color-secondary;
    border-color: $color-secondary;

    &::before {
      background-color: $color-secondary;
    }

    &::after {
      background-color: $color-primary;
    }
  }

  &--modal {
    padding-top: 15px;
    padding-bottom: 13px;
  }

  &--modal::before {
    right: 3px;
  }

  &--modal::after {
    top: 10px;
    right: 10px;
    mask: url("../../__spritemap#sprite-button-arrow-view");
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 20px 68px 20px 30px;
    font-size: 14px;
    line-height: 14px;

    &::before {
      top: 4px;
      right: 4px;
      width: 46px;
      height: 46px;
    }

    &::after {
      top: 22px;
      right: 22px;
    }
  }
}
