.nav-button {
  width: 37px;
  height: 35px;
  background-color: $color-secondary;
  color: $color-primary;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;

  &--next {
    padding-bottom: 3px;
    padding-left: 3px;
    transform: rotate(180deg);
  }

  &--inactive {
    background-color: #999999;
  }
}
