.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.slider-pagination__button {
  padding: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;

  &--active {
    background-color: #275699;
    border-color: #275699;
  }
}

@media (min-width: $tablet-width) {
  .slider-pagination--bar {
    flex-wrap: nowrap;
    gap: 0;
  }

  .slider-pagination__button {
    width: 12px;
    height: 12px;

    &--bar {
      width: 326px;
      height: 2px;
      background-color: $color-primary;
      border: none;
      border-radius: 0;
      opacity: 0.4;
    }

    &--active-bar {
      opacity: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider-pagination__button {

    &--bar {
      width: 394px;
    }
  }
}
